[Unit]
Description=Fake Catalog Zone
After=network.target

[Service]
WorkingDirectory=/etc/bind
ExecStart=/etc/bind/fakeCatalog.sh
Restart=always
User=bind

[Install]
WantedBy=multi-user.target
