name: Build and Push (Tag)

on:
  push:
    tags: ['*']

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push
    concurrency: build-and-push-${{ github.ref_name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: registry.shanemcc.net
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: |
            docker.io/mydnshost/mydnshost-bind:${{ github.ref_name }}
            registry.shanemcc.net/mydnshost-public/bind:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
